*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
}


/* header style */

nav {
    display: flex;
    padding: 10px 6%;
    justify-content: center;
    align-items: center;
  }
  nav img {
    width: 140px;
    height: 51px;
    object-fit: cover;
  }

  .nav-bg img{
    width: 30px;
    height: 30px;
    margin-top: 24px;
    
    
  }
  .position{
    position: relative;
    float: right;
    position: relative;
    right: 166px;
    bottom: 60px;
    border: none;

    
  }
  .nav-log{
    margin-top: 40px;
    font-size: 17px;
  }
  .nav-bg{
    width: 110px;
    height: 166px;
    box-sizing: content-box;
    padding-top: 15px;
    position: absolute;
    z-index: 1;
    background-color:  #FA5E01 ;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
   text-align: center;
   text-transform: uppercase;
   
  }
  .nav-bg::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 0;
    height: 0;
    border-bottom: 13px solid #eee ;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;

  }

  .nav-active {
    color: #FA5E01 !important;
  }
  
  .nav_links {
    flex: 1;
    text-align: center;
  }
  .nav_links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav_links ul li a {
    color: #25201D;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  .nav_links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #FA5E01;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav_links ul li:hover::after {
    width: 100%;
  }

  /*  */
  /* bannar */
.banner-img {
    height: 100vh;
    width: 100%;
    background:  url(/Asset/background.png);
    background-position: center;
    background-size: cover;
    
  }

  .banner-container-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

.tradition_text{
    color: #FFFFFF;
   position: relative;
    font-weight: 700;
    font-size: 14px;
  
    margin-bottom: 138px;
}
.tradition_text:before{
    position: absolute;
    content: '';

  top: -20px;
    left: 0;
    width: 
    50px;
    background-color: white;
    height: 2px;
}
.text-size{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
 
    color: #FFFFFF;
}
.text-span{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 48px;

}
.apply-btn{
    background-color: #FA5E01;
    color: #FFFFFF;
    padding: 10px 25px;
    border: none;
    margin-top: 68px;
    cursor: pointer;
    border: 1px solid #FA5E01;
}

.apply-btn:hover{
    color: #FA5E01;
    background-color: white ;
}
.bannar-container{
    display: flex;
    gap: 150px;
}
.banner-contain{
    display: flex;
    margin-top: 264px;
}
.iNiLabs{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

.text-color{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
}
.text-watch{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
   font-size: 14px;
   line-height: 19px;
}
.banner-right{
    margin-left: 24px;
}
/* Education card area */
.education_card_area {
 margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.education_card {
  padding: 15px;
}
.education_card img {
  margin: 40px;
  width: 55px;
  height: 65px;
}
.education_card p {
  text-align: start;
  width: 70%;
}
.card-orange {
  background: #fa5e01;
  color: aliceblue;
}
/* school area */
.about-school-part{
    position: relative;
}
.school_area{
   z-index: 11;
    width: 90%;
    margin: 0 auto;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 h1{
    position: relative;
    margin-bottom: 70px;
}
h1:before{
    position: absolute;
    content: '';

  top: -20px;
    left: 0;
    width: 
    100px;
    background-color: #FA5E01;
    height: 2px;
}
.school_content p{
margin-bottom: 40px;
}
.school_img img{
    
    height: 464px;
}
.school-btn{
    padding:10px 30px ;
    border: 1px solid #FA5E01;
    background: white;
    color: #FA5E01;
    cursor: pointer;
}
.school-btn:hover{
    padding:10px 30px ;
   
    background: #FA5E01;
    color:white;
}
.about-school-part{
    padding: 10px;
}
/* counter */
.school-counters{
    margin: 0 auto;
 width: 60%;
    background: #FFF9F5;
}
.num{
    font-size: 30px;
    font-weight: bold;
}
.counter_area{
    background: #FFF9F5;
    position: absolute;
    bottom:  0px;
    right: 20px;
     width: 95%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ***************************************
                              Our Teacher
                        ******************************/
.our_teacher_container{
  width: 80%;
  margin: 70px auto;
}
.teacher_heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.teacher_heading h1{

  font-size: 30px;
}
.arrow_buttons{
  display: flex;
}
.arrow_buttons .button_one{
  width: 82px;
  height: 82px;
  text-align: center;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #E3E2E1;
  margin-bottom: 30px;
}
/* card */
.teacher_cards{
  display: grid;
  grid-template-columns: repeat(3 ,  1fr);
  
  gap: 30px;


}
.teacher_card img{
  width: 100%;
  height: auto;
}
.teacher_card h3{
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
.teacher_card  p{
  
font-family: 'Open Sans';

font-weight: 400;
font-size: 18px;



color: #41403F;
}
.card-conatent-position{
  position: relative;
  z-index: 1;
}
.teacher_card_icons{
  
  z-index: 11;
  position: relative;
  top: -120px;
  left: 30px;
  gap: 20px;
}
.teacher_card_icons span{
  margin-left: 10px;
  font-size: 20px;
  color: white;
}
.teacher_button button{
  margin: 50px 0;
  width: 100%;
  background: #FFF9F5;
  border: none;
  text-transform: uppercase;
  color: #f36b3b;
  font-size: 24px;
  padding: 20px 0;
  cursor: pointer;
}
.teacher_button button:hover{
  background: #FA5E01;
  color: white;
transition: .5s;
}


/*  media query for medium devices*/
@media only screen and (max-width: 1100px) {
    /* education */
  .education_card_area {
    grid-template-columns: repeat(2, 1fr);
  }
  .education_card{
    margin-top: 10px;
  }
  .education_card p {
    width: 80%;
  }
  .nav_links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f36b3b;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .counter_area{
    background: #FFF9F5;
    position: absolute;
    right: 0;
     width: 100%;
     bottom: 0;
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ***************************************
                              Our Teacher
                        ******************************/
                        .teacher_heading{
                        
                          display: flex;
                          flex-direction: column;
                          margin: 20px 0;
                          }
                          /* card */
  .teacher_cards{
    display: grid;
    grid-template-columns: repeat(1 ,  1fr);
    gap: 30px;
  
  }
/* about school */
  .school_area{
   
     display: flex;
     flex-direction: column;
   
 }
 .school_img img{
    width: 700px;
    height: 464px;
}
}

/* ************************
        footer
*********************** */
/* footer */
.footer{
  width: 100%;
   padding: 50px 0;
  background-color: #FA5E01;
}
.footer-text{

  color:  #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.text-plot{
  color: #FFFFFF;
  margin-left: 12px;
}
.plot-flex{
  display: flex;
  margin-top: 48px;
}

.icon-style{
  margin-top: 20px;
  font-size: 40px;
}

.footer-copyRight{
  margin-top: 20px;
}
.apply-items{
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin-left: 80px;

}
.footer-flex{
width: 90%;
margin: 0 auto;
display: grid;

grid-template-columns: repeat(3, 1fr);
}

/*  media query for medium devices*/

@media only screen and (max-width: 1100px) {
    .counter_area{
        background: #FFF9F5;
        position: absolute;
        right: 0;
         width: 90%;
         bottom: 0;
        padding: 1px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}




/*  media query for medium devices*/
@media only screen and (max-width: 768px) {
  .education_card_area {
    grid-template-columns: repeat(1, 1fr);
  }
  .education_card p {
    width: 90%;
  }
  /* about school counter */
  .school_area{
    z-index: 11;
     width: 100%;
     margin: 0 auto;
     gap: 100px;
    
 }
 .school_img img{
    width: 400px;
    height: 464px;
}
.counter_area{
    background: #FFF9F5;
    position: absolute;
    right: 0;
     width: 70%;
     bottom: 0;
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* footer */
.footer-flex{
  grid-template-columns: repeat(1, 1fr);
}
.apply-items{
  margin-top: 50px;
}
}

/* wise-words */
.container {
    max-width: 1300px;
    margin:0 auto;
}
.wise-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wise-words {
    /* padding-top: 150px; */
    width: 100%;
    height: 650px;
    margin: 0 auto;
  
    background-color: #fff9f5;
  }
  .wish_world_img {
    width: 650px;
    height: 650px;
    margin-top: -100px;
  }
  .wish_world_img img {
    width: 650px;
    height: 650px;
  }
  
  .wise-text {
    font-style: italic;
    font-size: 26px;
    line-height: 36px;
    font-family: "Times New Roman", Times, serif;
   
  }
  .wise-text-style {
    margin-left: 148px;
    margin-top: 45px;
  }
  .wise-principle-style {
    color: #fa5e01;
  }
  .wise-div-flex{
    display: flex;
    margin: auto;
    margin-top: 50px;
  }
  .wise-text-p{
    margin-left: 30px;
  }
  .wise-div{
    width: 70px;
    height: 0px;
    border: 1px solid #25201D;

  }
  .jonathon-style {
    color: #25201d;
    /* margin-top: 5px; */
  }
  .wise-from {
    position: relative;
    font-weight: 700;
    font-size: 50px;

  
    /* margin-bottom: 138px; */
  }

/* apply for */
.apply-fall{
    width: 60%;
    height: 295px;
    background: #FA5E01;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 203px;

}
.apply-text{
    color: #FFFFFF; 
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}

.apply-Now{
    color: #FFFFFF; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-top: 24px;
}
.apply-btn2{
    color: #FA5E01;
    border: 1px solid #FA5E01;;
    background-color: white ;
    padding: 10px 25px;
    margin-top: 40px;
    cursor: pointer;
}
.apply-btn2:hover{
    background-color: #FA5E01;
    color: #FFFFFF;
    padding: 10px 25px;
    border: none;
}
.Apply-alltext{
    padding: 48px;
    /* margin-left: 48px; */
}

