*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF9F5;
}

/***** css style  */


  nav {
    display: flex;
    padding: 10px 6%;
    justify-content: center;
    align-items: center;
  }
  nav img {
    width: 140px;
    height: 51px;
    object-fit: cover;
  }
  .nav_links {
    flex: 1;
    text-align: center;
  }
  .nav_links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav_links ul li a {
    color: #25201D;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  .nav_links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f36b3b;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav_links ul li:hover::after {
    width: 100%;
  }
  .text_box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text_box h1 {
    font-size: 62px;
  }
  .text_box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
  .banner_btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .banner_btn:hover {
    border: 1px solid #f36b3b;
    background: #f36b3b;
    transition: 1s;
  }
  nav .close {
    margin-top: 5%;
    margin-left: 7%;
  }
  nav .fas {
    display: none;
  }

  /*  media query for small devices*/
@media only screen and (max-width: 768px) {
    .nav_links ul li {
        display: block;
      }
      .nav_links ul li a {
        color: black;
      }
      .nav_links {
        position: absolute;
        background: white;
        height: 100vh;
        width: 100vw;
        top: 0;
        transition: 1s;
        right: -100vw;
        text-align: left;
        z-index: 2;
      }
}

/* bannar */
.banner-img {
    min-height: 100vh;
    width: 100%;
    background:  url(/Asset/Rectangle\ 1.png);
    background-position: center;
    background-size: cover;
    
  }

  .banner-container-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

.text-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 138px;
}
.text-size{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    color: #FFFFFF;
}
.text-span{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 48px;

}
.apply-btn{
    background-color: #FA5E01;
    color: #FFFFFF;
    padding: 10px 25px;
    border: none;
    margin-top: 68px;
}

.apply-btn:hover{
    color: #FA5E01;
    border: 1px solid #FA5E01;;
    background-color: white ;
}
.bannar-container{
    display: flex;
    gap: 150px;
}
.banner-contain{
    display: flex;
    margin-top: 264px;
}
.iNiLabs{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

.text-color{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
}
.text-watch{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
   font-size: 14px;
   line-height: 19px;
}
.banner-right{
    margin-left: 24px;
}